# Python String Basics
1. What is string?

In [1]:
# valid string literals
'This is a string in Python' # string in single quotes
"This is a string in Python" # string in double quotes
'''This is a string in Python''' # string in triple quotes
"""This is a string in Python""" # string in triple double-quotes

'This is a string in Python'

In [2]:
# Creating a string - A string literal can be assigned to a variable, as shown below.
string = "My name is Lana!"

### String manipulation

In [2]:
# Printing a string
print(string)

My name is Lana!

In [3]:
# Accessing elements of string with []
# note: Python uses 0-based indexing, meaning first position is actually not 1 but 0
string[0]

'M'

In [4]:
# accessing elements "from the back" - (from right to left) with negative referencing
# -1 for last element in string, -2 for second to last, etc...
string[-1]

'!'

### String indexing:
| M | y | | n | a | m | e| | i | s |  | L | a | n | a | ! |
| - | - | - | - | - | - | -| - | - | - | - | - | -|- | - | - |
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 |
| -16| -15 | -14 | -13 | -12 | -11 | -10 | -9 | -8 | -7 | -6 | -5 | -4 | -3 | -2 | -1 |

In [5]:
# String slicing
# [j:k] - starting from position j and until k(not included)
string[11:15] # -> this won't give us 15th element !

'Lana'

In [6]:
string[3:-10]

'nam'

In [7]:
# Given two strings s and t, t is a substring of s if t is contained as a contiguous collection of symbols in s
'Lana' in string

True

### String built in functions

In [8]:
# length of string
len(string)

16

In [9]:
# lower/upper case
string.lower()

'my name is lana!'

In [10]:
string.upper()

'MY NAME IS LANA!'

In [11]:
# startswith/endswith

In [12]:
string.startswith("My")

True

In [13]:
string.endswith("Luna!")

False

In [14]:
# replace
string.replace("Lana", "Luna")

'My name is Luna!'

In [15]:
# find
string.find("Lana")

11

### Iterating/looping over elements of string

In [16]:
# looping -> for loop

# method 1
for element in string:
    print(element)

M
y

n
a
m
e

i
s

L
a
n
a
!

In [17]:
# method 2, using len() and range() and accessing elements
# range(n) - Create a sequence of numbers up to number n, not included, starting with 0
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(len(string)))

In [ ]:
for position in range(len(string)):
    print(string[position])